.container_p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
}
.name {
  font-size: 2.5rem;
  color: rgb(150, 75, 220);
  font-family: monospace;
}
